
.form-card{
    background-image:linear-gradient(to left bottom,#c919a3,#2682b8);
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    color:white;
}
